:root {
  --primary-color: #3f51b5;
  --text-dark: #333333;
  --bg-light: #e0e0e0;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px; 
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c0b9b9;
    color: black;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 var(--spacing-lg);
    background-color: white;
    border-bottom: 1px solid gray;
    margin-bottom: var(--spacing-xl);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 35px;
    width: auto;
}

.logotext {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    color: black;
}

.logo-dark {
    color: gray;
    font-weight: normal;
    margin-left: -5px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.nav-menu a {
    text-decoration: none;
    color: #272729;
    font-size: 1rem;
    transition: color 0.2 ease;
}

.nav-menu a:hover {
    color: var(--primary-color);
}

.nav-signin {
    font-weight: 600;
    color: var(--primary-color) !important;
}

/*hero-section*/

.hero-section {
    display: flex;
    background-color: var(--bg-light);
    border-radius: 0;
    margin-bottom: 0 24px var(--spacing-xl) 24px;
    overflow: hidden;
}
.box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.box-hero-img {
    width: 60%;
    min-width: 250px;
}

.hero-content {
    width: 40%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
}

.hero-content h1 {
    margin-bottom: 24px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #272729;
}

.hero-content p {
  color: #555555;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.btn-start {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #333333;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0;
    transition: background-color 0.2s ease;
    width: 70%;
    height: 50px;
}

.btn-start:hover {
    background-color: #555555;
}

.main-container {
    display: flex;
    gap: var(--spacing-lg);
    margin: 0 24px var(--spacing-xl) 24px;
}

.featued-column {
    width: 60%;
    background-color: #ffffff;
    border: 1px solid #c0b9b9;
    border-radius: 6px;
    padding: var(--spacing-xl);
}

.column-box-img {
    margin-bottom: var(--spacing-lg);
    border-radius: 4px;
    overflow: hidden;
}

.column-box-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.column-content {
    padding: var(--spacing-sm) 0;
}

.column-content h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: var(--spacing-lg);
}

.column.content .quote {
    font-style:italic ;
    line-height: 1.5;
    margin-bottom: var(--spacing-sm);
}

.column-content .author {
    font-size: 1rem;
    color: #888888;
    margin: 0;
}

.side-column {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.event-card:hover {
  background-color: #f1f5f9;
  cursor: pointer;          
}

.even-card {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 16px;
    align-items: center;
    transition: background-color 0.2 ease;
}

.even-card.active {
    background-color: palevioletred;
    border-color: antiquewhite;
}

.even-box-img {
    width: 35%;
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;
    margin-right: var(--spacing-md);
}

.even-box-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.even-content {
    width: 65%;
}

.even-content h3 {
    font-size: 1rem;
    margin: 0 0 8px 0;
}

.even-content p {
    font-size: 1rem;
    color: #888888;
    margin: 0 0 8px 0;
}

.read-more {
    font-size: 1rem;
    color: blue;
    text-decoration: none;
    font-weight: 600;
}

.read-more:hover {
    text-decoration: underline;
}

.courses-section {
    margin-top: var(--spacing-xl);
    padding: var(--spacing-xl) 72px;
    background-color: var(--bg-light);
}

.section-title {
    text-align: center;
    margin-bottom: var(--spacing-xl);
    font-size: 2rem;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--spacing-xl);
}

.course-card {
    background: whitesmoke;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid snow;
    transition: 0.3s;
}

.course-card:hover {
    transform: translate(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 08);
}

.course-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.course-content{
  padding: var(--spacing-md);
}

.course-content h3 {
    margin: 0;
}

.course-tag {
    color: #888888;
    font-size: 0.9rem;
    margin:  8px 0;
}

.thesis-section {
    margin-top: var(--spacing-xl) 24px 0 24px;
}

.thesis-container {
    display: flex;
    gap: var(--spacing-lg);
}

.thesis-left {
    width: 60%;
}

.thesis-left video {
    width: 100%;
    border-radius: 6px;
}

.thesis-left h3 {
    margin-top: var(--spacing-lg);
    margin-bottom: 8px
}

.thesis-left p {
    color: gray;
    line-height: 1.6;
}

.thesis-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.thesis-card {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 16px;
    align-items: center;
}

.thesis-box-img {
    width: 35%;
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;
    margin-right: var(--spacing-md);
}

.thesis-box-img img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.thesis-card-content {
    width: 65%;
}

.thesis-card-content h4 {
    font-size: 1rem;
    margin: 0 0 8px 0;
}

.thesis-card-content p {
    font-size: 0.9rem;
    color: gray;
    margin: 0;
}

.footer {
    margin-top: var(--spacing-xl);
    border-top: 1px solid #ffffff;
    padding: var(--spacing-md) var(--spacing-lg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin: 0;
    color: gray;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a{
    color: gray;
    text-decoration: none;
}

.footer-links a:hover {
    color: blue;
}

/* Navigation menu links visibility for desktop/mobile */
.mobile-icon {
  display: none;
}
.hamburger {
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: #FFFFFF;
}
nav .nav-logo a{
    width: 10%;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
nav .nav-logo a> img{
    width: 50px;
    height: auto;
}
.nav-logo a > h1 {
    color: black;
}

nav ul li a:hover{
    color: rgb(244, 119, 119);
}
ul{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: center;
    text-align: center;
}
ul li{
    list-style: none;

}
ul li a{
    text-decoration: none;
    color :black;

}
@media (max-width: 768px) {
  /* 1. Header Section */
  nav{
     display: none;
  }
  .hamburger{
    display: flex;
    justify-content: space-around;
    align-items: center;
   height: 64px;
   box-sizing: border-box;
   background-color: #fff;

  }
  .hamburger span > img{
    width: 50px;
    height: auto;
    align-self: center;
  }
  .hamburger span{
    display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  }
  .header {
    height: 64px;
    width: 100%;
    padding: 0 var(--spacing-md); /* 16px */
    margin-bottom: 0;
    background-color: #fff;
  }

.logo-container {
    display: none;
  }

  .logo-text,
  .logo-dark,
  .nav-menu a.desktop-link {
    display: none;
  }
  
  /* Show mobile icons */
  .nav-menu a.mobile-icon {
    display: block;
  }

  .mobile-icon img {
    height: 24px;
    width: auto;
    display: block;
  }

  /* 2. Hero Section */
  .hero-section {
    flex-direction: column;
    margin: 0; 
    border-radius: 0;
  }
  
  .box-hero-img {
    width: 100%;
    min-height: auto;
  }
  
  .hero-content {
    width: 100%;
    min-height: auto;
    padding: 32px 16px; 
  }
  
  .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 32px;
  }
  
  .hero-content p {
    margin-bottom: 24px; 
  }
  
  .btn-start {
    width: 100%; 
    margin-top: 0;
    margin-bottom: 0;
  }

  /* 3. Main Content Section (Featured & Sidebar) */
  .main-container {
    flex-direction: column;
    margin: 0;
    gap: 0;
  }
  
  .featured-column {
    display: none;
  }
  
  .side-column {
    width: 100%;
    padding: 32px 16px; 
    gap: 64px; 
  }
  
  .event-card {
    flex-direction: column;
    padding: 16px; 
    align-items: flex-start;
  }
  
  .event-box-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
  
  .event-content {
    width: 100%;
  }

  /* 4. Start Learning Section */
  .courses-section {
    margin-top: 0;
    padding: 32px 16px;
    background-color: #ffffff;
  }
  
  .courses-section .section-title {
    margin-bottom: 16px;
  }
  
  .courses-grid {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  
  .course-card {
    background-color: var(--bg-light);
    border: none;
    border-radius: 0;
  }
  
  .course-box,
  .course-content .course-tag,
  .course-content p {
    display: none;
  }
  
  .course-content {
    padding: 16px; 
  }
  
  .course-content h3 {
    font-size: 1.1rem;
    margin: 0;
  }

  /* 5. Thesis Section */
  .thesis-section {
    margin: 0;
    padding: 32px 16px 24px 16px;
  }
  
  .thesis-section .section-title {
    margin-bottom: 16px;
  }
  
  .thesis-container {
    flex-direction: column;
    gap: 0;
  }
  
  .thesis-left {
    width: 100%;
  }
  
  .thesis-left-body,
  .thesis-right {
    display: none;
  }

  /* 6. Footer Section */
  .footer {
    margin-top: 0;
    padding: 16px;
  }
  
  .footer-links {
    display: none;
  }
}